.panel {
    padding: 10px;
    border-radius: 5px;
    background: #fdfdfd;
    border: 1px solid #fdfdfd;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.paginationCenter {
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background: #fdfdfd;
    border: 1px solid #fdfdfd;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.selectedPage {
    font-weight: bold;
}

.paginationCenter span {
    cursor: pointer
}