.nav{
   grid-area: navbar;
   background-color: green;
   height: 300px;
   padding: 7%;
 } 

 .item a{
   color: white;
   text-decoration: none;
   font-size: 20px;
 }

 .item .activeLink{
  color: orange;
}