.item {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 55px auto;
    column-gap: 5px;
    color: #797979;
    border-radius: 5px;
    background: #fdfdfd;
    border: 1px solid #fdfdfd;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 8px;
    padding: 5px;
}

.item img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.LikeDislike span {
    font-size: 12px;
}

.postMessage {
    padding-top: 5px;
}

.like{
    padding-right: 20px;
}

hr {
    margin-top: 3px;
    margin-bottom: 3px;
}