.left {
    grid-area: left;
    border: 1px solid #ede9e9;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.right {
    grid-area: right;
}

/* START mobile devices */

/* < 575px */

@media all and (max-width: 575px) {
	.profileInfo {
		grid-template-areas: 
        "left  left"
        "right right"
        "right right";

        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto;
		grid-gap: 10px;
	}
}

/* < 900px */

@media all and (max-width: 900px) {
	.profileInfo {
		grid-template-areas: 
        "left  left"
        "right right"
        "right right";

        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto;
		grid-gap: 10px;
	}
}

/* END mobile devices */

@media all and (min-width: 901px) {
    .profileInfo{
        display: grid;
        grid-template-areas: 
        "left right"
        ".    right"
        ".    right";

        grid-template-rows: 210px auto auto;
        grid-template-columns: 210px auto;
        grid-gap: 10px;
    }
}

.border {
    border-radius: 5px;
    border: 2px solid #ecebeb;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 8px;
    padding: 5px;
    color: #797979;
}

.text{
    color: #797979;
    font-size: 20px;
}

.buttonUpd{
    padding-bottom: 10px;
}