.app-wrapper{
  margin: 0 auto;
  display: grid;

  width: 85%;

  grid-template-areas:
  "header  header"
  "backimg backimg"
  "navbar  cont"
  "navfr   cont"
  "footer  footer";

  /* grid-template-rows: 60px 2fr 2fr 1fr; */
  
  grid-template-rows: 60px 230px auto auto 60px;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px; 
}