.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .activeLink{
    color: green;
}

.dialog a{
    text-decoration: none;
}

.messages{
    padding: 10px;
}

.messages .message{

}