.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    /* background: rgb(228, 228, 228); */
}

.dialogsItems .activeLink {
    color: green;
}

.dialog a {
    text-decoration: none;
}

.messages {
    padding: 10px;
}

.verticalLine {
    border-left: 5px solid #ecebeb;
    height: 100%;
    border-radius: 5px;
}

.sendMessage{
    /* position: absolute;
    bottom: 0px; */
}

textarea{
    width: 99%;
}