.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    margin-right: 10px;
    /* background: rgb(228, 228, 228); */
}

.dialogsItems .activeLink {
    color: green;
}

.dialog a {
    text-decoration: none;
}

.messages {
}

.sendMessage{
    /* position: absolute;
    bottom: 0px; */
}

textarea{
    width: 99%;
}

.border {
    border-radius: 5px;
    border: 2px solid #ecebeb;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
}