.avatar{
   grid-area: avatar;
   background-color: white;
   height: 200px;
   width: 200px;
   position: absolute;
   margin: 1px;
 } 

 .avatar img {
    width: 200px;
    border-radius: 120px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
 }